<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      {% if site.footer %}
      <div class="footer-col">
        <ul class="contact-list">
          <li>{{ site.footer }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      {% endif %}

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

    </div>

  </div>

</footer>
