---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$big-font-size:  $base-font-size * 1.175;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// # #893896 plum 
// # #32318b blue
// # #d15353 red
// # #94ce1e lime
// # #2ec4b6 bluegreen
// # https://coolors.co/893896-32318b-d15353-94ce1e-2ec4b6

$spacing-unit:     10px;

$text-color:       #337FDD;
$text-color-light: lighten($text-color, 40%);
$text-color-dark:  darken($text-color, 25%);
$background-color: #1F2A38;
$brand-color:      #337FDD;
$brand-color-dark: #000000;

// link color
$grey-color:       #94ce1e;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
