---
layout: default
---
<div class="home">

   
  <!--
    Code is Art
  -->
  <h1 class="page-heading"><italic>Acknowledging the Knowing of Nothing</italic></h1>

  Some recent thoughts:

  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
